*.py[cod]
*.pyc

# Packages
*.egg
*.egg-info
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
dist/

# Poetry installation
poetry.lock

# Codecov
.coverage

# Mac OSX
.DS_Store
.idea/

# Emacs (Just so I don't have to see them green in Atom ;-)
*~
*#
